django==5.2.8
django-environ==0.12.0
django-crispy-forms==2.5
crispy-bootstrap5==2025.6
django-allauth==65.13.1
# WebAuthn dependency (package name on PyPI is `fido2`)
fido2>=1.1.3
celery==5.6.0
django-celery-beat==2.8.1
redis==6.4.0
django-redis==6.0.0
whitenoise==6.11.0
django-compressor==4.6.0
pillow==12.0.0
psycopg[c]==3.3.0
gunicorn==23.0.0
python-slugify==8.0.4
django-model-utils==5.0.0
asgiref==3.11.0
sqlparse==0.5.4
python-dateutil==2.9.0.post0
django-timezone-field==7.1
tzdata==2025.2